---
import haruImg4 from "../images/jamey-stegmaier.png"
import SideBannerLayout from "../layouts/SideBannerLayout.astro"
---

<SideBannerLayout title="Haru Kawamata">
  <header slot="header">
    <div class="header-text">
      <h1>I'm Haru Kawamata</h1>
      <h2>Welcome to my Homepage!</h2>
    </div>
  </header>
  <main>
    <section>
      <div class="section-border-inner reverse-wrap">
        <div class="text-wrapper">
          <h3>About me</h3>
          <p>
            Greetings fellow web surfer, and welcome to my homepage. I'm Haru, a senior software developer, currently working at <a href="https://www.tanda.co">Tanda</a>.
          </p>
          <p>
            Although I work in tech, when I'm not at the office I usually spend my time on non-tech related projects.
            I don't feel crazy burning passion for programming itself - my true love is <em>problem solving</em>, which
            luckily, programming lets me do a lot of.
          </p>
        </div>
      </div>
    </section>
    <section>
      <div class="section-border-inner">
        <div class="text-wrapper">
          <h3>My Tech Experience</h3>
          <p>
            I specialise in:
            <ul>
              <li>Ruby on Rails</li>
              <li>React & React Native</li>
              <li>Javascript in general</li>
            </ul>
            but I am fairly language agnostic. I've been working as a software developer since January 2018.
          </p>
        </div>
      </div>
    </section>
    <section>
      <div class="section-border-inner reverse-wrap">
        <div class="text-wrapper">
          <h3>Japanese</h3>
          <p>
            I'm half Japanese. I never learned the language much growing up, though I was brought up on various
            aspects of Japanese culture. I decided to begin learning Japanese seriously in mid 2019,
            logging around 3 hours of study every day for the first year. I've gotten to the point where I would call
            myself reasonably fluent. My study of Japanese led me down the rabbit hole of linguistics, which you can read
            more about <a href="/projects/blog">here</a>. I now translate Japanese media as a hobby.
          </p>
        </div>
      </div>
    </section>
    <section>
      <div class="section-border-inner">
        <img src={haruImg4} alt="Jamey Stegmaier (prolific designer and publisher of board games Scythe, Viticulture, and Wingspan) smiling and holding up cards from my game, Hierarchy" />
        <div class="text-wrapper">
          <h3>Other Passions</h3>
          <p>
            Besides Japanese and software, my other passions and hobbies include:
            <ul>
              <li>
                Learning about semiotics.
              </li>
              <li>
                Art (I doodle and draw cartoons, digitally and with Posca markers)
              </li>
              <li>
                Dot journalling.
              </li>
              <li>
                Cooking (especially Japanese cooking). My specialties are fried rice and gyoza.
              </li>
              <li>
                Tabletop game design (<a href="/projects/hierarchy">I published a game!</a>)
              </li>
              <li>
                Weaverdice (I am a worm nerd. <a href="https://parahumans.wordpress.com/">Read worm!</a>)
              </li>
            </ul>
          </p>
        </div>
      </div>
    </section>
    <div class="visitor-count">
      Visitor count: 19,256
    </div>
    <div class="last-updated">
      Last updated: 3 Apr, 2003
    </div>
  </main>
</SideBannerLayout>

<style>
  header {
    align-items: center;
    display: flex;
    padding: 1ch 0;
  }
  header .header-text {
    flex-grow: 1;
    text-align: center;
  }
  header .profile-pic {
    border-radius: 100%;
    max-width: 30%;
  }
  header h1 img {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
    width: 20ch;
  }
  section {
    border-color: #888 #444 #444 #888;
    border-style: solid;
    border-width: 5px;
    margin-bottom: 2ch;
    /* width: 100%; */
  }
  section .section-border-inner {
    align-items: center;
    background-color: rgba(230, 230, 230, 0.1);
    display: flex;
    justify-content: space-around;
    outline: 2px solid #151514;
    border: 1px solid #b1b1af;
  }
  section .text-wrapper {
    /* max-width: 40ch; */
    padding: 1ch;
    flex-grow: 3
  }
  section img {
    max-width: 30ch;
    /* height: 100%; */
    flex-grow: 2
  }
  @media (max-width: 767px) {
    .section-border-inner {
      flex-wrap: wrap;
    }
    .section-border-inner.reverse-wrap {
      flex-wrap: wrap-reverse;
    }
  
    section img {
      /* width: 100%; */
    }
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
