---
import blogBannerAd from "../images/banner-blog.png"
import hierarchyBannerAd from "../images/banner-hierarchy.gif"
const bannerAds = { 
  blog: {
    image: blogBannerAd,
    link: "https://jimmy-dipthong.tumblr.com/tagged/jimmy%20blogthong"
  },
  hierarchy: {
    image: hierarchyBannerAd,
    link: "https://buttonshygames.com/products/hierarchy"
  }
}


const randomIndex = Math.floor(Math.random() * (Object.keys(bannerAds).length))
const randomKey = Object.keys(bannerAds)[randomIndex]
// @ts-ignore We're getting a string out of Object.keys so this is safe
const randomAd = bannerAds[randomKey]
const randomImage = randomAd.image
// @ts-ignore We're getting a string out of Object.keys so this is safe
const randomLink = randomAd.link

---
<!-- Can't call the class or image "banner-ad" or it gets yoinked by adblock lol -->
<div class="image-link">
  <a href={randomLink}>
    <img src={randomImage} alt="A fake retro banner" />
  </a>
</div>

<style>
  .image-link img {
    width: 137px;
  }
</style>