---
import BaseLayout from "./BaseLayout.astro"
import BannerAd from "../components/BannerAd.astro"

const { title } = Astro.props
---

<BaseLayout title={title}>
  <slot name="header" />
  <div class="banner-bordered-content">
    <div class="display-none-if-mobile"><BannerAd /></div>
    <slot />
    <div class="display-none-if-mobile"><BannerAd /></div>
  </div>
</BaseLayout>

<style>
  .banner-bordered-content {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
  }

</style>